.thing {
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.7)), url(./Imagens/image0.jpeg);
  --webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100vh;
}

.thing hr {
  background: rgba(255, 255, 255, 0);
  margin: 10px 35vw 0px 35vw;
}

.thing h1 {
  color: white;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-family: "Cabin", sans-serif;
  font-size: 60px;
}

.text {
  /* color: #dba850; */
  color: white;
  /* padding: 10vh 0 1vh 0; */
  font-size: 30px;
  font-family: "Cabin", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.aguardem {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Yellowtail', cursive;
  font-family: 'Marck Script', cursive;
  font-size: 60px;
}

.logo-center {
  margin-top: 60px;
  padding: 0 30px 0 30px;
  width: 500px;
  /* height: 100%; */
}

.icons-div {
  z-index: 100;
}

.icons-div i {
  color: #dba850;
  font-size: 40px;
  margin: 10px;
}

/* .icons-div i:hover {
  color: #acaaaa;
  font-size: 50px;
} */

@media only screen and (max-width: 600px) {
  .logo-center {
    margin-top: 70px;
  }
  .text {
    /* position: absolute; */
    /* bottom: 0px; */
    font-size: 16px;
    padding: 15vh 0 0 3vw;
  }

  .icons-div i {
    font-size: 39px;
    margin: 20px 5px 0px 5px;
    /* position: absolute;
    bottom: 90px; */
  }
}
